* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(97, 97, 97);
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}


/* Side navigation links */
.sidenav a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.sidenav h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: -15px;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: rgb(80, 80, 80);
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

.content img {
  height: auto;
  max-width: 50%;
}